.DivProps {
   display: flex;
   align-items: center;
}

.LogoProps {
   width: 100%;
   text-align: center;
}

.InicioProps {
   width: 100%;
   align-self: center;
}

.ContainerLogoProps {
   margin: 3em 0;
}

.FormProps {
   margin: 15% 0;
   background-image: url(../../assets/images/Rectangulo.png);
   background-size: 100% 100%;
   padding: 3%;
}