.FontedTitle {
   font-family: 'Nashville';
   color: #dc3545;
}

.FormInputLabels {
   color: #dc3545;
   font-size: 17px;
}

.CardInputLabels {
   text-align: left;
   color: #dc3545;
   font-size: 17px;
}

.IndianArrows {
   max-height: 170px;
}

.CardBodyText {
   font-size: 15px;
   text-align: left;
}